<%- include("partials/header"); -%>
<body>
    <div class="statsContainer">
        <div class="container m-auto my-2">
            <div class="row">
                <div class="card alert alert-primary col-12 mb-0" style="text-align: center;" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Total Submissons</h5>
                        <p class="card-text">
                            <%=data.total%>
                        </p>
                    </div>
                </div>
                <%for(let i = 0; i<6; i++){%>
                    <div class="card alert alert-success col-2" style="text-align: center;" style="width: 18rem; ">
                        <div class="card-body">
                            <h5 class="card-title"><%=arr2[i]%></h5>
                            <p class="card-text">
                                <%=data[arr1[i]]%>
                            </p>
                        </div>
                    </div>
                <%}%>
    
            </div>
        </div>
    </div>
    
    <div class = "canvasContainer">
        <canvas id="myChart"></canvas>
    </div>

    <div class = "container m-5" style="justify-content: center; text-align: center;">
      <button type="button" onclick="window.location.href = '/';" class="btn btn-outline-dark btn-lg rounded-pill">New Search</button>
    </div>

    
    <script type="text/javascript">

        var labels = <%- JSON.stringify(xValues) %>;
        var values = <%- JSON.stringify(yValues) %>;
    
        const ctx = document.getElementById('myChart').getContext('2d');
        const chart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: labels,
            datasets: [{
              label: 'Problems Difficulty',
              data: values,
              backgroundColor: '#FF6A4C',
              borderColor: '#FF4041',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            },
            
          }
        });
    </script>
    <script src="js/script"></script>


<%- include("partials/footer"); -%>

</body>

</html>